@import '../../../variables';

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

form {
    text-align: left;
    position: relative;
    padding: 30px 60px;
}

.form-group {
    margin-bottom: 0px;
}

label {
    color: $wedding-pink;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="submit"], input[type="button"], textarea {
    appearance: none;
    -webkit-appearance: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px;
    border-color: #eee;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.address {
    color: gray;
    font-style: italic;
}

.description {
    color: $wedding-pink;
}

textarea {
    margin-bottom: 15px;
}

button {
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 15px 45px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-weight: bold;
    font-size: 18px;
}

.event {
    margin-bottom: 20px;
}