<form (ngSubmit)="onSubmit()" #participationForm="ngForm">
  <div class="row">
    <h4 class="col-sm-12">Adresse <small class="text-muted">Pour les remerciements</small></h4>
  </div>
  <div class="form-group row">
    <label for="inputStreet" class="col-sm-1 col-form-label">Rue</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputStreet" placeholder="Rue" [(ngModel)]="participation.street" name="street"
        #streetForm="ngModel" required/>
      <div [hidden]="streetForm.valid || streetForm.pristine" class="alert alert-danger">La rue est requise</div>
    </div>
    <label for="inputNumber" class="col-sm-1 col-form-label">N°</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inputNumber" [(ngModel)]="participation.number" name="number" #numberForm="ngModel"
        placeholder="N°" required/>
      <div [hidden]="numberForm.valid || numberForm.pristine" class="alert alert-danger">Le numéro est requis</div>
    </div>
    <label for="inputBox" class="col-sm-1 col-form-label">Boîte</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="inputBox" [(ngModel)]="participation.box" name="box" #boxForm="ngModel" placeholder="Boîte"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputZipCode" class="col-sm-1 col-form-label">Code postal</label>
    <div class="col-sm-5">
      <input type="number" class="form-control" id="inputZipCode" [(ngModel)]="participation.zipCode" name="zipCode" #zipCodeForm="ngModel"
        placeholder="Code postal" pattern="\d+" required/>
      <div [hidden]="zipCodeForm.valid || zipCodeForm.pristine" class="alert alert-danger">Le code postal est requis</div>
    </div>
    <label for="inputCity" class="col-sm-1 col-form-label">Localité</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="inputCity" [(ngModel)]="participation.city" name="city" #cityForm="ngModel" placeholder="Localité"
        required/>
      <div [hidden]="cityForm.valid || cityForm.pristine" class="alert alert-danger">La localité est requise</div>
    </div>
  </div>
  <div class="row">
    <h4 class="col-sm-12">Evénements</h4>
  </div>
  <div class="form-group row" *ngFor="let invitation of invitations; let i = index;">
    <label for="inputEventAttending{{i}}" class="col-sm-3 col-form-label">
      {{invitation.startDate | date: 'HH:mm'}} : {{invitation.eventDescription}}
      <br>
      Addresse : {{invitation.street}}<span *ngIf="invitation.number != ''">, {{invitation.number}}</span> {{invitation.zipCode}} {{invitation.city}}
    </label>
    <input type="hidden" [(ngModel)]="participation.attendings[i].eventId" name="eventId{{i}}" />
    <input type="checkbox" class="form-check-input col-sm-1" id="inputEventAttending{{i}}" [(ngModel)]="participation.attendings[i].isAttending"
      name="eventAttending{{i}}" />
    <div *ngIf="invitation.eventId == 4">
      <label for="additionnalInfos" class="col-sm-12 col-form-label">Allergies alimentaires</label>
      <textarea class="form-control col-sm-12" [(ngModel)]="participation.additionnalInfos" id="additionnalInfos" name="additionnalInfos"></textarea>
    </div>
  </div>
  <!-- TODO: additional infos for event with id = x -->
  <button type="submit" class="btn btn-success" [disabled]="!participationForm.form.valid">Soumettre</button>
</form>