@import '../../variables';

#gift-page {
    background: url('/assets/background_gift.png') no-repeat;
    margin:0;
    padding:0;
    -webkit-background-size: cover; /* for old Chrome et Safari */
    background-size: cover; /* standard */
    height: 100vh;
    text-align: center;
    vertical-align: middle;
}

.message { 
    color: #ffffff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 76px;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    width: 65rem;
}