$active-link-color: rgb(244, 66, 89);
$link-color: rgba(244, 66, 89, .5);

a,
a:focus,
a:hover {
  color: $active-link-color;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

.header {
  margin-bottom: 2rem;
}

.header-brand {
  margin-bottom: 0;
}

.nav-header .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: $link-color;
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-header .nav-link:hover,
.nav-header .nav-link:focus {
  border-bottom-color: $link-color;;
}

.nav-header .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-header .active {
  color: $active-link-color;
  border-bottom-color: $active-link-color;
}

@media (min-width: 48em) {
  .header-title {
    float: left;
  }
  .nav-header {
    float: right;
  }
}
