<div class="container">

  <app-navbar></app-navbar>

  <div class="jumbotron">
    <h1 class="display-3">Votre invitation</h1>

    <ul class="nav nav-tabs" role="tablist" *ngIf="currentUser != null">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#current" role="tab">{{currentUser.firstName}}</a>
      </li>
      <li class="nav-item" *ngFor="let familyUser of currentUser.family; let i = index;">
        <a class="nav-link" data-toggle="tab" href="#family{{i}}" role="tab">{{familyUser.firstName}}</a>
      </li>
    </ul>

    <div class="tab-content" *ngIf="currentUser != null">
      <div class="tab-pane active" id="current" role="tabpanel">
        <app-invitation-form [currentUser]="currentUser" [user]="currentUser"></app-invitation-form>
      </div>
      <div class="tab-pane" id="family{{i}}" role="tabpanel" *ngFor="let familyUser of currentUser.family; let i = index;">
        <app-invitation-form [currentUser]="currentUser" [user]="familyUser"></app-invitation-form>
      </div>
    </div>

    <!-- TODO: else => form with email address to send email -->
  </div>
</div>