@import '../../variables';

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.completed {
    color: #42A948;
}

#invitation-page {
    background: url('/assets/background_home.png') no-repeat;
    margin:0;
    padding:0;
    -webkit-background-size: cover; /* for old Chrome et Safari */
    background-size: cover; /* standard */
    height: 695px;
}

h1 {
    color: black;
    display: inline-block;
    padding: 10px 15px;
    font-size: 76px;
    font-family: $home-title-font, cursive;
}

.invitation-modal {
    border-color: black;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    background-color: white;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5)
}