@import '../../../../variables';

.countdown-row {
    span:first-child {
        margin-left: 0;
    }

    span {
        display: inline-block;
        margin-left: 5px;
        min-width: 100px;
        text-align: center;
        font-weight: normal;

        .countdown-amount {
            font-size: 38px;
            display: block;
            color: $wedding-pink;
            font-weight: bold;
        }

        .countdown-period {
            font-size: 22px;
            display: block;
            color: #ffffff;
            text-shadow: 2px 2px 0px #8a1f53;
        }
    }
}

/*.countdown-row {
    height: 0;
    padding: 0;
    clear: both;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.countdown-section {
    width: 24%;
    margin: 10px 0.5%;
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    display: block;
    float: left;
    font-size: 75%;
    box-sizing: border-box;
}

.countdown-amount {
    font-size: 36px;
    font-weight: 700;
    display: block;
    box-sizing: border-box;
}

.countdown-period {
    display: block;
    font-size: 28px;
    line-height: 1.2;
    margin-top: 15px;
    box-sizing: border-box;
}*/