<span class="countdown-row">
  <span class="countdown-section">
    <span class="countdown-amount">{{days}}</span>
    <span class="countdown-period">Jours</span>
  </span>
  <span class="countdown-section">
    <span class="countdown-amount">{{hours}}</span>
    <span class="countdown-period">Heures</span>
  </span>
  <span class="countdown-section">
    <span class="countdown-amount">{{minutes}}</span>
    <span class="countdown-period">Minutes</span>
  </span>
  <span class="countdown-section">
    <span class="countdown-amount">{{seconds}}</span>
    <span class="countdown-period">Secondes</span>
  </span>
</span>